# local docs
docs/features/
docs/resources/
docs/research/
temp/
personal/

# MCP env files 
mcp/confluent_env/*.env

# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# LangGraph
.langgraph_api/
